{% extends "core/base.html" %}
{% load static %}

{% block content %}
<input type="hidden" id="user-auth-status" value="{{ user.is_authenticated|yesno:'True,False' }}">
<div class="bg-gray-100">
    <div class="w-full flex justify-between items-center p-4 max-w-7xl mx-auto">
        <h1 class="text-2xl font-bold">Productos</h1>
        <div class="relative">
            <a class="nav-link text-3xl flex items-center cursor-pointer" onclick="toggleCartDropdown()">
                🛒
                <span id="cart-count" class="absolute top-0 right-0 translate-x-1 -translate-y-2 bg-red-600 text-white text-xs rounded-full px-1">
                    0
                </span>
            </a>
    
            <!-- Carrito Popup -->
            <div id="cart-dropdown" class="absolute right-0 mt-4 w-96 bg-white border border-gray-300 rounded-lg shadow-lg p-4 z-50 hidden">
                <div class="cart-header flex justify-between items-center mb-3">
                    <h5 class="font-semibold">Carrito de Compras</h5>
                    <button class="close-btn text-lg font-bold" onclick="toggleCartDropdown()">×</button>
                </div>
                <ul id="cart-items" class="list-none mb-3 max-h-64 overflow-y-auto w-100 pl-0"> 
                </ul>
                <div class="cart-footer flex justify-between items-center">
                    <p class="font-semibold">Total: $<span id="cart-total">0.00</span></p>
                    <button id="checkout-button" class="w-full bg-blue-600 text-white rounded-lg py-2 mt-2" onclick="checkout()" disabled>Ir a Pagar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-100 w-full flex justify-center">
    <div class="max-w-7xl w-full flex flex-wrap gap-6 justify-center"> <!-- Contenedor centrado y con ancho máximo -->
        {% for product in products %}
            <div class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl mt-4 mb-4 lg:mt-0">
                {% if product.image %}
                    <img src="{% static product.image.url %}" alt="{{ product.name }}" class="h-40 object-cover rounded-xl">
                {% else %}
                    <img src="{% static 'images/default_product.svg' %}" alt="{{ product.name }}" class="h-40 object-cover rounded-xl">  <!-- Cambia a una imagen por defecto -->
                {% endif %}
                <div class="p-2">
                    <h2 class="font-bold text-lg mb-2">{{ product.name }}</h2>
                    <p class="text-sm font-semibold"> ${{ product.price }}</p>
                    <p class="text-sm font-semibold"> disponible: {{ product.quantity }}</p>
                    <p class="text-sm font-semibold">Proveedor: {{ product.provider }}</p> 
                </div>

                <div class="flex items-center justify-center gap-2 mb-2">
                    {% if user.is_authenticated %}
                        <button class="px-3 py-1 rounded-lg bg-green-700 hover:opacity-80" onclick="addToCart({{ product.id }})">
                            <i class="fa-solid fa-plus fa-lg text-white"></i>
                        </button>
                    {% else %}
                        <button class="px-3 py-1 rounded-lg bg-green-700 hover:opacity-80" onclick="location.href='{% url 'login' %}'">
                            <i class="fa-solid fa-plus fa-lg text-white"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No hay productos disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>

</div>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}