/* @import 'product_list'; */

/* $primary-color: #3498db;

body {
    font-family: Arial, sans-serif;
    background-color: $primary-color;
    color: white;

    h1 {
        color: lighten($primary-color, 20%) !important;
    }
} */