{% extends "store_admin/dashboard.html" %}
{% load static %}

{% block content %}


<div class="p-5  rounded-lg">
    <h2 class="text-lg mb-5">Pedidos</h2>

    <div class="relative">
        <a class="nav-link text-3xl flex items-center cursor-pointer" onclick="toggleFilterMenu()">
            <h2 class="text-lg mb-5">☰ Filtros</h2>
        </a>

        <form method="get" class="flex flex-col gap-4 mb-6">
            <!-- Primera fila: Filtros -->
            <div class="flex flex-col md:flex-row gap-4">
                <!-- Filtro por Cliente -->
                <div class="w-full md:w-1/4">
                    <label for="customer" class="block text-sm font-medium text-gray-700 mb-1">Cliente</label>
                    <select name="customer" id="customer" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="">Seleccionar cliente</option>
                        {% for customer in customers %}
                        <option value="{{ customer.user.get_full_name }}" {% if customer.user.get_full_name == selected_customer %}selected{% endif %}>
                            {{ customer.user.get_full_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Filtro por Surcursal -->
                <div class="w-full md:w-1/4">
                    <label for="sucursal" class="block text-sm font-medium text-gray-700 mb-1">Sucursal</label>
                    <select name="sucursal" id="sucursal" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="">Seleccionar Sucursal</option>
                        <option value="3A" {% if selected_store == "3A" %}selected{% endif %}>3A</option>
                        <option value="3B" {% if selected_store == "3B" %}selected{% endif %}>3B</option>
                    </select>
                </div>
        
                <!-- Filtro por Fecha de Inicio -->
                <div class="w-full md:w-1/4">
                    <label for="start_date" class="block text-sm font-medium text-gray-700 mb-1">Desde</label>
                    <input type="date" name="start_date" id="start_date" value="{{ selected_start_date }}" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                </div>
        
                <!-- Filtro por Fecha de Fin -->
                <div class="w-full md:w-1/4">
                    <label for="end_date" class="block text-sm font-medium text-gray-700 mb-1">Hasta</label>
                    <input type="date" name="end_date" id="end_date" value="{{ selected_end_date }}" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                </div>
        
                <!-- Filtro por Rango de Precio -->
                <div class="w-full md:w-1/4">
                    <label for="min_price" class="block text-sm font-medium text-gray-700 mb-1">Precio Mínimo</label>
                    <input type="number" name="min_price" id="min_price" step="0.01" value="{{ selected_min_price }}" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                </div>

                <div class="w-full md:w-1/4">
                    <label for="max_price" class="block text-sm font-medium text-gray-700 mb-1">Precio Máximo</label>
                    <input type="number" name="max_price" id="max_price" step="0.01" value="{{ selected_max_price }}" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                </div>
            </div>
        
            <!-- Segunda fila: Botón -->
            <div class="flex justify-start">
                <button type="submit" class="px-6 py-2 text-white rounded-md shadow focus:outline-none bg-[#6A9C89] hover:bg-[#16423C]">
                    Filtrar
                </button>
            </div>
        </form>

    </div>

<div class="overflow-auto rounded-lg shadow ">
    
    <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr>
                <th class="w-24 p-3 text-sm font-semibold tracking-widest text-left text-green-900">Cliente</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-widest text-left  text-green-900">Tienda</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-widest text-left  text-green-900">Estado</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-widest text-left  text-green-900">Precio Total</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-widest text-left  text-green-900">Fecha</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-widest text-left  text-green-900">Productos</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
            {% for order in orders %}
            <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-100{% else %}bg-white{% endif %}">
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ order.customer_name }}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ order.store }}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ order.status }}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ order.total_price }}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ order.date }}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                    <ul>
                        {% for product in order.products %}
                            <li>{{ product.product_name }} - {{ product.quantity }} unidades</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No hay pedidos.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

    
{% endblock %}