{% extends "core/base.html" %}

{% block content %}

<!-- Global Container -->
<div class="flex   items-center justify-center min-h-screen">

  <!-- Card Container -->
  <div class="relative flex flex-col m-6 space-y-10 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0 md:m-20">

    <div class="p-6 md:p-20 flex flex-col">

      
      <a href="{% url 'home' %}" class="self-end text-gray-600"><i class="fa-solid fa-x fa-lg"></i></a>
      <h2 class="mb-5 text-4xl font-bold text-green-700">Log In </h2> 
    

    <form action="" method="post" >
        {% csrf_token %}
        <div class="space-y-4">
            <div>
                <label for="id_username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" name="username" id="id_username" class="w-full p-2 border border-gray-300 rounded" placeholder="Enter your username" required>
            </div>
            <div>
                <label for="id_password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" name="password" id="id_password" class="w-full p-2 border border-gray-300 rounded"  placeholder="Enter your password">
              
            </div>
        </div>
        <div class="mt-6">
            <button type="submit" class="w-full md:width-auto p-3  mb-10 font-bold  text-white rounded-md shadow-lg bg-green-700 shadow-green-100 hover:opaicty-60 shadow-sm hover:shadow-lg  hover:-translate-y-0.5 duration-150">
                Sign In 
            </button>
        </div>
    </form>

    <div class="text-center mt-4">
        
         <span class="text-gray-500">Dont have an account ? </span><a href="{% url 'register' %}" class="text-green-700 hover:underline">Sign Up</a>
    </div>



    
  </div>





</div>



</div>
{% endblock %}
